@forward '../../styles/globals/';
@use '../../styles/util/' as u1;

$main_black: #1F2326; // the main black color for the site
$pseudo_bg_color: #7f8c8d;

// this is a min app, that is why i'll create this function here, otherwise i would i have moved the function to the utils function in the css folder
@mixin block_4_pseudo($bgColor: $main_black) {
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: $bgColor;
};



.test1 {
    @include u1.media(">=desktop") {
        background-color: yellow;

        &::after {
            content: "desktop"
        }
    }
    @include u1.media(">=tablet", "<desktop") {
        background-color: skyblue;

        &::after {
            content: "tablet"
        }
    }

    @include u1.media(">=phone", "<tablet") {
        background-color: aquamarine;

        &::after {
            content: "phone"
        }
    }
}

body {
    background-color: darken($main_black, 7) !important;
}
.AppMain {
    @include u1.block_display();
    width: min(100%, 850px);
    margin-inline: auto;

    div {
        position: relative;
    }
}

// the class was used in multiple places, that's why i abstracted it.
.SvgAndOthers {
    display: flex;
    align-items: center;

    > div:first-child {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
    }
}
.PsBlock {
    &::before { @include block_4_pseudo(#0f1112) }
    &::after { @include block_4_pseudo(lighten($main_black, 10)) }
}


.TopGuy {
    min-height: 600px;
    color: #fff;
    padding: 25px 2%;

    &__header {
        @include u1.flex_display();

        > div:first-child {
            font-weight: bold;
            font-size: 30px;
            padding: 0 1px;
        }

        > div:nth-child(2) {
            top: 5px;
        }
    }

    &__midImg {
        width: 100%;
        min-height: 600px;
        margin: 20px auto;

        img { max-width: 100%; }

        &::before { @include block_4_pseudo(#0f1112) }
        &::after { @include block_4_pseudo(lighten($main_black, 10)) }
    }

    &__lastMen {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div:nth-child(2) {
            width: 200px;
            font-size: 11px;
            color: darken(#a4b0be, 10);
        }
    }
}

.BottomGuy {
    background-color: #fff;
    margin: 0 0 150px;
    padding: 35px 2%;

    .BtmHeader {
        @include u1.flex_display();

        > div:first-child {
            font-weight: bold;
            font-size: u1.rem(30);
        }

        > div:nth-child(2) {
            top: 5px;
            width: 200px;
            font-size: u1.rem(11);
        }
    }

    .BtmMidMain {
        @include u1.flex_display();
        padding: 45px 0;

        .BtmMid_1 {
            width: min(40%, 320px);
            // font-size: clamp(12px, 10px + .5vw, 14px);
            font-size: u1.rem(13.5);

            img {
                width: 100%;
            }

            > div {
                margin: 15px 0;
            }
        }
        .BtmMid_2 {
            width: min(45%, 300px);
            font-size: u1.rem(13.5);
            // font-size: clamp(10px, 10px + .5vw, 15px);
            line-height: 1.45;
        }
    }

    .BtmLastM {
        @include u1.flex_display();
        font-weight: 700;
    }
}